<% if params[:badge] %>
  <% user_badge = AicrowdUserBadge.find(params[:badge]) %>
  <div class="modal fade badgemodal" id="badgeModal" tabindex="-1" role="dialog" aria-labelledby="badgeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="badgeModalLabel"><%= user_badge.aicrowd_badge['name'] %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <img src="<%= user_badge.badge_image_url %>" class="country-flag-large mt-3" />
        <div class="modal-body">
           <%= user_badge.aicrowd_badge['description'] %> You are Awarded <%= user_badge.aicrowd_badge['name'] %> Badge.
        </div>
        <div class="modal-footer">
          <%= social_share_badge('twitter', user_badge) %>
          <%= social_share_badge('facebook', user_badge) %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
      $('.badgemodal').modal('show');
  </script>
<% end %>